<div class="ng-full-page col-md-12" >
	<div class="login-container" >
		<div class="login_wrapper">
   
				<section class="login_content">
					<form>
						<h1>AmazonApp</h1>
						<div>
							<input type="text" class="form-control" placeholder="Username" required="" />
						</div>
						<div>
							<input type="password" class="form-control" placeholder="Password" required="" />
						</div>
						<div>
							<a class="btn btn-default submit" href="index.html">Log in</a>
							<a class="reset_pass" href="#">Lost your password?</a>
						</div>
						<br />
						<span class="ng-or" >or</span>
						<div class="ng-button-login-or" >
							<a href="{{ url }}" class="btn btn-danger ng-btn-google">Login With Google</a>
						</div>
						<div class="clearfix"></div>

						<div class="separator">
							<!-- <p class="change_link">New to site?
								<a href="#signup" class="to_register"> Create Account </a>
							</p> -->

							<div class="clearfix"></div>
							<br />
							<div>
								<h1><i class="fa fa-amazon"></i>mazon App</h1>
								<p>©2017 All Rights Reserved. AmazonApp track your products</p>
							</div>
						</div>
					</form>
				</section>
        
      	</div>
	</div>
</div>
	

