<!-- nav -->
			
			<div class="col-md-3 left_col menu_fixed mCustomScrollbar _mCS_1 mCS-autoHide">
	          <div class="left_col scroll-view">
	            <div class="navbar nav_title" style="border: 0;">
	              <a href="index.html" class="site_title"><i class="fa fa-amazon"></i><span>mazon App</span></a>
	            </div>

	            <div class="clearfix"></div>

	            <!-- menu profile quick info -->
	            <div class="profile clearfix">
	              <div class="profile_pic">
	                <img src="assets/theme/images/user.png" alt="..." class="img-circle profile_img">
	              </div>
	              <div class="profile_info">
	                <span>Welcome,</span>
	                <h2></h2>
	              </div>
	            </div>
	            <!-- /menu profile quick info -->

	            <br />

	            <!-- sidebar menu -->
	           
	            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
	              <div class="menu_section">
	                <h3>Options</h3>
	                <ul class="nav side-menu">
	                  <li class="" ><a><i class="fa fa-product-hunt"></i> Product <span class="fa fa-chevron-down"></span></a>
	                    <ul class="nav child_menu">
	                      <li class="" ><a href="product">All Products</a></li>
	                      <li lcass="" ><a href="addBulk"">Add products</a></li>
	                    </ul>
	                  </li>
	                  <li class="" ><a><i class="fa fa-folder"></i> Projects <span class="fa fa-chevron-down"></span></a>
	                    <ul class="nav child_menu">
	                      <li><a href="project/create">Create Project</a></li>        
	                    </ul>
	                  </li>
	                </ul>
	              </div>
	            </div>
	          
	            <!-- /menu footer buttons -->
	          </div>
	        </div>

	        <!-- top navigation -->
	        <div class="top_nav">
	          <div class="nav_menu">
	            <nav>
	              <div class="nav toggle">
	                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
	              </div>

	              <ul class="nav navbar-nav navbar-right">
	                <li class="">
	                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	                    <img src="assets/theme/images/user.png" alt="">
	                    <span class=" fa fa-angle-down"></span>
	                  </a>
	                  <ul class="dropdown-menu dropdown-usermenu pull-right">
	                    <li><a href="logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
	                  </ul>
	                </li>

	                
	              </ul>
	            </nav>
	          </div>
	        </div>