<!-- <ng-include src="navbar"> </ng-include> -->
<div class="right_col" style="min-height:700px;" >
  <div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Create new project</h2>
     
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <!-- start form for validation -->
    <div ng-show="request_msg" class="alert {{ request_class }}">
      {{ request_text }}.
    </div>
    <form method="post" action="" >
      <div class="form-group">
        <label for="project-name">Project Name:</label>
        <input type="text" class="form-control" id="project-name" name="project-name" >
      </div>
      <button type="button" class="btn btn-primary"  ng-click="addNewProject()" id="add-new-project" >Create Project</button>
    </form> 
    <!-- end form for validations -->

    </div>
  </div>
</div>
</div>