<div class="right_col" style="min-height:700px;" >
  <div class="row">
    <div class="x_panel">
      <div class="x_title">
        <h2>Advance Search<small>search products</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
      <!-- start form for validation -->
     <div class="col-md-6" >
        <div class="form-group">
          <label class="ama-search-label" for="item-title">Category:</label>
          <select id="item-category" name="item-category" class="form-control" >
            <option value="default" >-- Select Category --</option>
            <option  ng-repeat="cat in category" value="{{ cat.id }}" >{{ cat.name }}</option>
          </select>
        </div>
        
      </div>
      <div class="col-md-6" >
        <div class="form-group">
          <label class="ama-search-label" for="item-title">Title:</label>
          <input type="text" class="form-control" id="item-title" name="item-title" placeholder="search key" >
        </div>
        
      </div>
      <div class="col-md-4" >
        
        <div class="form-group">
          <label class="ama-search-label" for="item-min-price">Price:</label>
          <input type="number" class="form-control ama-half-input" id="item-min-price" name="item-min-price" placeholder="min" >
          <input type="number" class="form-control ama-half-input" id="item-max-price" name="item-max-price" placeholder="max" >
        </div>
      </div>
      <div class="col-md-4" >
        <div class="form-group">
          <label class="ama-search-label" for="item-min-rank">Rank:</label>
          <input type="number" class="form-control ama-half-input" id="item-min-rank" name="item-min-rank" placeholder="min" >
          <input type="number" class="form-control ama-half-input" id="item-max-rank" name="item-max-rank" placeholder="max" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="ama-search-label" for="item-min-wieght">Weight:</label>
          <input type="number" class="form-control ama-half-input" id="item-min-wieght" name="item-min-wieght" placeholder="min" >
          <input type="number" class="form-control ama-half-input" id="item-max-wieght" name="item-max-wieght" placeholder="max" >
        </div>
      </div>

      <div class="col-md-12">
        <button class="btn btn-primary pull-right" id="btn-search-prod" >Search</button>
      </div>
      <!-- end form for validations -->

      </div>
    </div>
  </div>

  <div class="row" >
    <div class="col-md-12" >
      <table id='product-list-project' class="table table-striped table-bordered" datatable="" dt-columns="dtColumns" ui-jq="dataTable" dt-options="dataTableOpt">
        <thead>
            <th style="text-align: center;">Image</th>
          <th style="text-align: center;">ASIN</th>
          <th style="text-align: center;">Title</th>
         <!--  <th style="text-align: center;">Past 7 days</th> -->
          <th style="text-align: center;"></th>
          <th style="text-align: center;display: none;"></th>
          <th style="text-align: center;display: none;"></th>
          <th style="text-align: center;display: none;"></th>
        </thead>
        <tbody>
          <tr ng-repeat="p in content.data.data" on-finish-render="finishLoadItem"  class="project-item-{{p.id}}" >
             <td><img src="{{ p.img }}" ></td>
             <td>{{p.asin}}</td>
             <td>{{p.title}}</td>
             <!-- <td ng-bind-html="p.trackSevDays | trust"></td> -->
             <td>
              <a href="#/detail/{{p.id}}" target="_blank" class="btn btn-primary"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
              <a href="{{ p.detailUrl }}" target="_blank" class="btn btn-default"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
              <button class="btn btn-danger" ng-click="removeProjectItem(p.id)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
             </td>
             <td style="text-align: center;display: none;" >{{p.rank}}</td>
             <td style="text-align: center;display: none;" >{{p.weight}}</td>
             <td style="text-align: center;display: none;" >{{p.catId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>