<ng-include src="navbar"> </ng-include>
<div class="right_col" style="min-height:700px;" >
  
  <div class="">

    <div class="page-title">
      <div class="title_left">
        <h3>Product</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- row -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Product Details</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-7 col-sm-7 col-xs-12">
              <div class="product-image">
                <img src="{{ details.img }}" alt="...">
              </div>
              <!--
              <div class="product_gallery">
                <a>
                  <img src="images/prod-2.jpg" alt="...">
                </a>
              </div> -->
            </div>

            <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">
              <h3 class="prod_title">{{ details.title }}</h3>

              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
              <br>

              <div class="">
                <div class="product_price">
                  <h1 class="price">{{ price.FormattedPrice }}</h1>
                  <span class="price-tax">ASIN: {{ details.asin }}</span> <br>
                  <span class="price-tax">Seller: {{ details.sellerNickname }}</span> <br>
                  <span class="price-tax">Weight: {{ details.weight }}</span> <br>
                </div>
              </div>

              <div class="">
                <a href="{{ details.detailUrl }}" target="_blank" class="btn btn-default btn-lg">View in Amazon</a>
                <!-- <button type="button" class="btn btn-default btn-lg">Add to Wishlist</button> -->
              </div>

              <div class="product_social" style="display: none;">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook-square"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-twitter-square"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-envelope-square"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-rss-square"></i></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Daily Track</h2>
                  <div class="clearfix"></div>
                </div>

                <div class="x_content">
                  <div class="table-responsive">
                    <table class="table table-striped jambo_table">
                      <thead>
                        <tr class="headings">
                          <th class="column-title">Date </th>
                          <th class="column-title">Stock </th>
                          <th class="column-title">Diff </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="track in details.quantity track by $index" ng-class="$index % 2 == 0 ? 'even pointer' : 'odd pointer'">
                          <td class=" ">{{ track.createdAt * 1000 | date:'MMMM dd yyyy' }}</td>
                          <td class=" ">{{ track.quantity }}</td>
                          <td class=" ">{{ diff[$index] }} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
